In [3]:
#https://gis-hennepin.hub.arcgis.com/datasets/hennepin::county-parcels/explore
!wget -O hennepin_county_parcels.zip "https://opendata.arcgis.com/api/v3/datasets/7975aabf6e1e42998a40a4b085ffefdf_1/downloads/data?format=shp&spatialRefId=26915&where=1%3D1"

--2023-10-19 17:02:06--  https://opendata.arcgis.com/api/v3/datasets/7975aabf6e1e42998a40a4b085ffefdf_1/downloads/data?format=shp&spatialRefId=26915&where=1%3D1
Resolving opendata.arcgis.com (opendata.arcgis.com)... 23.23.51.121, 44.215.202.167, 54.197.243.216
Connecting to opendata.arcgis.com (opendata.arcgis.com)|23.23.51.121|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: 'hennepin_county_parcels.zip'

hennepin_county_par     [        <=>         ] 117.88M  14.5MB/s    in 8.9s

2023-10-19 17:02:15 (13.3 MB/s) - 'hennepin_county_parcels.zip' saved [123604042]

In [4]:
!unzip hennepin_county_parcels.zip

Archive:  hennepin_county_parcels.zip
  inflating: County_Parcels.shp
  inflating: County_Parcels.shx
  inflating: County_Parcels.dbf
 extracting: County_Parcels.cpg
  inflating: County_Parcels.prj
  inflating: County_Parcels.xml

In [5]:
!ogr2ogr -where "MUNIC_NM='EDINA'" Edina_Parcels.shp County_Parcels.shp

Warning 1: One or several characters couldn't be converted correctly from UTF-8 to ISO-8859-1.  This warning will not be emitted anymore.

In [2]:
import geopandas
parcels = geopandas.read_file("Edina_Parcels.shp")
parcels.head()

,OBJECTID,PID,PID_TEXT,DIV_STATUS,FEATURECOD,STATE_CD,TORRENS_TY,HOUSE_NO,FRAC_HOUSE,STREET_NM,...,QUAL_IMPR4,VET_EXCL4,HMS_EXCL4,NET_TC4,NET_TAX4,LAT,LON,ShapeSTAre,ShapeSTLen,geometry
0,31263,0511621110004,(4),None,501,905,T,6304,None,LIMERICK LA,...,0,0,0,0,0.0,-93.362586,44.887710,1633.476409,161.430055,"POLYGON ((471386.495 4970561.164, 471391.700 4..."
1,31264,0511621110009,(9),None,501,905,T,5313,None,WHITING AVE,...,0,0,0,0,0.0,-93.359525,44.887624,796.529827,119.472852,"POLYGON ((471619.139 4970549.507, 471618.216 4..."
2,31265,0511621110013,(13),None,501,905,T,5329,None,WHITING AVE,...,0,0,0,0,0.0,-93.360542,44.887634,796.538643,119.474496,"POLYGON ((471538.811 4970550.902, 471537.827 4..."
3,31267,0511621110002,(2),None,501,905,T,6312,None,LIMERICK LA,...,0,0,0,0,0.0,-93.363368,44.887390,1147.869277,146.923570,"POLYGON ((471326.726 4970482.788, 471321.378 4..."
4,31268,0511621110055,(55),None,501,880,T,6205,None,CRESCENT DR,...,0,0,0,0,0.0,-93.362561,44.891031,2824.507027,228.127006,"POLYGON ((471398.647 4970932.445, 471396.123 4..."

In [ ]:
#parcels.explore(column="ShapeSTAre", scheme="percentiles", tiles="CartoDB positron", legend=True)

In [4]:
parcels.explore(column="ShapeSTAre", scheme="percentiles", tiles="CartoDB positron", legend=True).save("Edina_Parcels.html")

In [5]:
#filtering for residential properties and excluding schools, churches via null sale_code
residential = parcels[(parcels["PR_TYP_NM1"] == 'RESIDENTIAL') & (parcels["SALE_CODE"].notnull())]
residential.head()

,OBJECTID,PID,PID_TEXT,DIV_STATUS,FEATURECOD,STATE_CD,TORRENS_TY,HOUSE_NO,FRAC_HOUSE,STREET_NM,...,QUAL_IMPR4,VET_EXCL4,HMS_EXCL4,NET_TC4,NET_TAX4,LAT,LON,ShapeSTAre,ShapeSTLen,geometry
0,31263,0511621110004,(4),None,501,905,T,6304,None,LIMERICK LA,...,0,0,0,0,0.0,-93.362586,44.887710,1633.476409,161.430055,"POLYGON ((471386.495 4970561.164, 471391.700 4..."
1,31264,0511621110009,(9),None,501,905,T,5313,None,WHITING AVE,...,0,0,0,0,0.0,-93.359525,44.887624,796.529827,119.472852,"POLYGON ((471619.139 4970549.507, 471618.216 4..."
2,31265,0511621110013,(13),None,501,905,T,5329,None,WHITING AVE,...,0,0,0,0,0.0,-93.360542,44.887634,796.538643,119.474496,"POLYGON ((471538.811 4970550.902, 471537.827 4..."
3,31267,0511621110002,(2),None,501,905,T,6312,None,LIMERICK LA,...,0,0,0,0,0.0,-93.363368,44.887390,1147.869277,146.923570,"POLYGON ((471326.726 4970482.788, 471321.378 4..."
4,31268,0511621110055,(55),None,501,880,T,6205,None,CRESCENT DR,...,0,0,0,0,0.0,-93.362561,44.891031,2824.507027,228.127006,"POLYGON ((471398.647 4970932.445, 471396.123 4..."

In [ ]:
#residential.explore(column="ShapeSTAre", scheme="percentiles", tiles="CartoDB positron", legend=True)

In [7]:

residential.explore(column="ShapeSTAre", scheme="percentiles", tiles="CartoDB positron", legend=True).save("Edina_Residential_Parcels.html")